---
import MetaHead from "@components/general/MetaHead.astro";
import ProjectsWrapper from "@components/general/ProjectsWrapper.astro";
import About from "@components/home/About.astro";
import Contact from "@components/home/Contact.astro";
import Experience from "@components/home/Experience.astro";
import Hero from "@components/home/Hero.astro";
import Highlights from "@components/home/Highlights.astro";
import { info } from "@data";
import Layout from "@layouts/Layout.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <MetaHead
      title="Portfolio"
      description="Software engineer working in Go, Java, and TypeScript. Backend systems at scale, plus side projects from API to UI."
    />
  </head>

  <body>
    <Layout>
      <Hero />
      <Highlights />
      <Experience details={info.experience} />
      <ProjectsWrapper projects={info.projects} />
      <About />
      <Contact />
    </Layout>
  </body>
</html>
